.detail {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.detail .information {
    border: 3px solid black;
    box-shadow: 0px 0px 8px 10px rgba(0, 0, 0, 0.466);
    background-color: #b66727;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 50%;
    position: relative;

    & h1 {
        background-color: #884b1a;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        font-size: 60px;
        text-align: center;
    }

}

.detail .right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding-inline: 10px;
    padding-block: 30px;
    justify-content: space-between;

    & button{
        padding-block: 15px;
        font-size: 25px;
    }
}

.detail .descriptionPrice {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #dfa97d;
    gap: 30px;
    padding: 5px;
    width: 100%;

    & div {
        width: 100%;
    }
}

.detail .texto {
    text-align: center;
    font-size: 20px;
    color: white;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
}

.detail .return{
    font-size: 20px;
    padding: 10px;
    background-color: #4A5A6F;
    color: whitesmoke;
    z-index: 10;
    top: 30px;
    left: 30px;

}

.detail .buttonContainer{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30px;
    left: 30px;
    width: 120px;
    gap: 10px;
}

@media (max-width: 1050px){

    .detail .buttonContainer{
        flex-direction: row;
    }

    .detail .information{
        flex-direction: column;
        height: auto;
    }

    .detail .return{
        width: 100px;
        font-size: 15px;
    }
}


@media (max-width: 600px){

    .detail .right .addProduct{
        font-size: 15px;
        padding: 5px;
        width: 60%;
    }    

    .detail .information h1{
        font-size: 40px;
    }

    .detail .texto {
    font-size: 15px;
    }

    .detail .right{
        font-size: 10px;
        align-items: center;
        gap: 10px;
    }

    .detail .buttonContainer{
        top: 20px;
        left: 20px;
    }
}

@media (max-width: 400px){
    .detail .information h1{
        font-size: 30px;
    }

    .detail .texto {
    font-size: 10px;
    }

    .detail .right{
        font-size: 10px;
    }
    .detail .right{
        font-size: 10px;
        align-items: center;
    }

    .detail .buttonContainer{
        top: 10px;
        left: 10px;
    }
}