.linksContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 20px;

}

.headerHome .headerOptions{
    width: 60px;
    height: 30px;
}

.linksContainer .link {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #4A5A6F;
    padding: 10px;
    width: 100px;
    height: 50px;
    color: whitesmoke;
}

main .titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    font-size: 40px;
}

main .productsContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}



.headerHome {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;

}

.headerHome button {
    background-color: rgb(226, 63, 63);
    width: 100px;
    height: 50px;
}

main .productSettings {
    position: absolute;
    right: 0;
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

.productSettings .productOptions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: goldenrod;
    border-radius: 5px;
    padding: 5px;
}

.productSettings .option {
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 5px;
    color: black;
}

main .producto {
    background-color: #5B3A29;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 350px;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-block: 30px 10px;
    padding-inline: 20px;
    border: 2px solid black;
    border-radius: 8px;
    text-shadow:
        1px 1px 0 #000,
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000;
        & span{
            color: white;
        }
        h2{
            color: white;
            text-align: center;
            font-size: 35px;
        }
}



.producto .grupo{
    display: flex;
    flex-direction: column;
    gap:5px;
    border-radius: 10px;

    & label{
        color: white;
        font-size: 20px;
    }
    input{
        padding: 5px
    }
    textarea{
        padding: 5px;
    }
}


.headerHome .hamburgerMenu {
    display: flex;
    flex-direction: column;
}

@media (max-width: 400px){
    header .adminPanel{
        display: none;
    }

    main h1{
        padding-top: 30px;
    }

    main .productsContainer{
        padding: 0;
        overflow-y: scroll;
        height: 400px;
    }

    main .producto{
        width: 200px;
        height: 300px;
        

        & h2{
            font-size: 30px;
        }
    }

    .headerHome{
        align-items: baseline;
        flex-direction: column;
        position: fixed;
        z-index: 10;
        padding: 0;
        margin: 10px;
        height: auto;
        gap: 10px;

    }

    .linksContainer{
        flex-direction: column;
        gap: 10px;
    }
}